{% extends "webapp_main/base_html.html" %}
{% load get_images %}

{% block content %}

<div>
    <div class="col-md-8 my-3 d-flex container-fluid">
        {% if article.images != "none" %}
            <div class="col-3 p-2">
            {% for img in article.images|spl %}
                <a href="{{ img }}"><img  src="{{ img }}" alt="" width="100%" class="mb-2"></a>                                             
            {% endfor %}
            </div>  
        {% endif %}

        <article class="col article-detail ps-2">
            <h3 class="main-font" style="color: white;">{{ article.title|safe }}</h3>
            {% if article.content %}
                <p class="secondary-font" style="color: white;">{{ article.content|safe }}</p>
            {% endif %}
        </article>
    </div>
</div>

{% endblock content %}
