{% extends "webapp_main/base_html.html" %}

<!--remove the nav elements from login page-->
{% block nav %}
{% endblock nav %}

{% block content %}
<div class="container-fluid col-lg-5 p-3 mt-3 login-dialog">
    <div class="d-flex justify-content-center mb-3 border-bottom border-dark">
        <h1 class="main-font seconday-color">Logged Out</h1>
    </div>
    <span class="main-font seconday-color d-flex justify-content-center">
        <a href="{% url 'news-home' %}" class="main-font text-decoration-none">Home</a>
    </span>
</div>
{% endblock content %}